body {
    margin: 0;
    font-family: 'MapoPeacefull';
}

.wrap {
    max-width: 1920px;
    min-width: 240px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}


.contents_area {
    width: 100%;
    max-width: 1700px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.contents_area2 {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.btn_top {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 #fff;
    background: #fff url(../img/icon/icon_top.png) no-repeat center / cover;
    cursor: pointer;

    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 99999;
}


@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@media screen and (max-width: 480px) {
    .btn_top {
        width: 40px;
        height: 40px;
        bottom: 5%;
    }
}
